<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="author" content="html,thymeleaf : mfukuda-kunren /css : koyamizu">
	<title>フォーム</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
	<header>
		<nav>
			<ul>
				<li>
					<a th:href="@{/todos}">TODO一覧</a>
				</li>
				<li>
					<a th:href="@{/todos/form}">TODO新規作成/編集</a>
				</li>
			</ul>
		</nav>
	</header>
	<main>
		<h1 th:text="${todoForm.isNew} ? 'TODO新規作成' : 'TODO編集'"></h1>
		<section>
			<form th:object="${todoForm}" th:action="${todoForm.isNew} ? @{/todos/save} : @{/todos/update}" method="post">
				<input type="hidden" th:field="*{todoId}">
				<!-- タイトル -->
				<label>タイトル
					<input type="text" th:field="*{todo}">
				</label>
				<div th:if="${#fields.hasErrors('todo')}" th:errors="*{todo}"></div><br>
				<!-- 期限 -->
				<label>期限
					<input type="date" th:field="*{deadLine}">
				</label>
				<div th:if="${#fields.hasErrors('deadLine')}" th:errors="*{deadLine}"></div><br>
				<div th:if="${error_message}" th:text="${error_message}"></div>
				<!-- 詳細 -->
				<label>詳細
					<input type="text" th:field="*{detail}">
				</label>
				<div th:if="${#fields.hasErrors('detail')}" th:errors="*{detail}"></div><br>
				<!-- 作成／更新ボタン -->
				<input type="submit" th:value="${todoForm.isNew} ? '作成' : '更新'">
			</form>
		</section>
	</main>
</body>

</html>