<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>フォーム</title>
</head>

<body>
	<header>
		<nav>
			<ul>
				<li>
					<a th:href="@{/todos}">TODO一覧</a>
				</li>
				<li>
					<a th:href="@{/todos/form}">TODO新規作成/編集</a>
				</li>
			</ul>
		</nav>
	</header>
	<main>
		<h1 th:if="${todo.id == null}">TODO新規作成</h1>
		<h1 th:unless="${todo.id == null}">TODO編集</h1>
		<section>
			<form th:action="${todo.id == null} ? @{/todos/save} : @{/todos/update}" method="post">
				<input type="hidden" name="id" th:value="${todo.id}">
				<!-- タイトル -->
				<label>タイトル
					<input type="text" name="title" th:value="${todo.title}" required>
				</label><br>
				<!-- 期限 -->
				<label>期限
					<input type="date" name="date" th:value="${#temporals.format(todo.date,'yyyy-MM-dd')}" required>
				</label><br>
				<!-- 詳細 -->
				<label>詳細
					<input type="text" name="detail" th:value="${todo.detail}">
				</label><br>
				<!-- 作成／更新ボタン -->
				<input type="submit" th:value="${todo.id == null} ? '作成' : '更新'">
			</form>
		</section>
	</main>
</body>

</html>