<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.repository.TodoMapper">
  
   	<!-- 全件取得 -->
 	<select id="selectAll" resultType="com.example.demo.entity.Todo">
 		SELECT
 			todo_id AS todoId,
 			todo,
 			detail,
 			deadLine
 		FROM
 			todos
 		;
 	</select>

	<!-- todoの新規作成 -->
	<insert id="insertTodo">
		INSERT INTO
			todos(todo,detail,deadLine)
		VALUES
			(#{todo},#{detail},#{deadLine})
		;
	</insert>
	 
	 <!-- todoの削除 -->
	 <delete id="deleteTodo">
		DELETE FROM
			todos
		WHERE
			todo_id = #{todoId}
		;
	 </delete>
 
	  <!-- todoの取得 -->
	  <select id="selectTodo">
	  	SELECT
	  		todo
	  		,detail
	  		,deadLine
	  	FROM
	  		todos
	  	WHERE
	  		todo_id = #{todoId}
	  	;
	  </select>
	  
	   <!-- todoの取得 -->
	  <update id="updateTodo">
	  	UPDATE
	  		todos
	  	SET
	  		todo = #{todoId}
	  		,detail = #{detail}
	  		,deadLine = #{deadLine}
	  	WHERE
	  		todo_id = #{todoId}
	  	;
	  </update>
 
</mapper>